# OS X
.DS_Store*
Icon?
._*
.vscode

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# npm
node_modules
package-lock.json
*.log
.env

# project
hci-meal-consultant-fae8f528b8dd.json
uploadedImages
test
dataset