# OS X
.DS_Store*
Icon?
._*
.vscode

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# npm
node_modules
package-lock.json
*.log
.env

# project
hci-10-meal-consultant-19a7ab556f6f.json
uploadedImages
test
database/*
!database/meal_list.json
README.md
dataset/*
!dataset/data_preparation.ipynb
