{% set title = "사용한 식재료" %}
{% extends "layout/base.html" %}

{% block content %}

<style>
    table, td {
        border: None;
    }
</style>
<div class="subwindow">
    <h1>얼마나 썼나요?</h1>
    <table>
        <tbody>
            <tr>
                <td>(식재료명) :</td>
                <td><textarea style="width:3vw">0</textarea>개</td>
            </tr>
        </tbody>
    </table>
    <button class="basic" style="width:20%">+</button>
    <br>
    <p1 style="font-size:120%"><textarea style="width:3vw">0</textarea>명이 먹었어요.</p1>
    <br>
    <button class="basic"><a href='/'>확인</a></button>
    <button class="basic"><a href='/'>취소</a></button>
</div>

{% endblock %}