{% set title = "요리 추천" %}
{% extends "layout/base.html" %}

{% block content %}

<div>
    <div class="rect" style="float:left; width:50%; height:50vw; padding:1%; text-align:center;">
        <h1>해 본 요리</h1>
        <button class="basic" style="width:80%"><a href="/recommend/recipe">(해 본 요리 중 추천1)</a></button>
    </div>
    <div class="rect" style="float:left; width:50%; height:50vw; padding:1%; text-align:center;">
        <h1>안 해 본 요리</h1>
        <button class="basic" style="width:80%"><a href="/recommend/recipe">(안 해 본 요리 중 추천1)</a></button>
        <button class="basic" style="width:80%"><a href="/recommend/recipe">(안 해 본 요리 중 추천2)</a></button>
        <button class="basic" style="width:80%"><a href="/recommend/recipe">(안 해 본 요리 중 추천3)</a></button>
    </div>
    <button class="basic" style="float:right"><a href='/'>취소</a></button>
</div>

{% endblock %}