{% set title = "요리법 검색" %}
{% extends "layout/base.html" %}

{% block content %}

<div class="subwindow">
    <h1>(선택된 요리 이름)</h1>
    
    <!--해 본 요리인 경우-->
    <h2>이전에 이만큼 넣었어요.</h2>

    <!--안 해 본 요리인 경우-->
    <h2>보통 이만큼 넣어요.</h2>

    <div class="rect" style="width:40%; margin:auto; float:center;">
        <!--필요한 식재료만큼 반복-->
        <h3>(식재료명): (개수)개 / 1인분</h3>
        <h3>...</h3>
    </div>

    <h2>참고해보세요.</h2>
    <div style="height:20vw">
        <div class="rect" style="width:30%; height:100%; float:left; margin-left:20%;">
            <h1 style="margin-top:30%"><a href="https://www.youtube.com/results?search_query=요리법" target="_blank">(유튜브)</a></h1>
        </div>
        <div class="rect" style="width:30%; height:100%; float:left;">
            <h1 style="margin-top:30%"><a href="https://www.google.com/search?q=요리법" target="_blank">(웹)</a></h1>
        </div>
    </div>
    <br>
    <button class="basic"><a href='/'>메인으로</a></button>
    <button class="basic"><a href='/recommend/list/'>취소</a></button>
</div>

{% endblock %}