{% set title = "이미지 업로드" %}
{% extends "layout/base.html" %}

{% block content %}

<div class="subwindow">
    <h1>이미지를 업로드해주세요.</h1>
    <form action="" enctype="multipart/form-data" method="post" style="font-size:120%">
        <input type="file" name="attachment" style="margin: 1% auto 1% auto">
        <button id="upload" type="submit">업로드</button>
        <button><a href="/add/selection">취소</a></button>
    </form>
</div>
<script>
    $('#upload').click(() => {
        const $attachment = $('input[name=attachment]')
        if (!$attachment.val()) {
            alert('이미지 파일을 선택하세요.')
            return false
        }
    })
</script>

{% endblock %}