{% set title = "텍스트로 식재료 추가" %}
{% extends "layout/base.html" %}

{% block content %}

<div class="subwindow">
    <h1>식재료 추가</h1>
    <form action="" method="post">
        <table>
            <thead>
                <tr>
                    <th>식재료명</th>
                    <th>개수</th>
                    <th>구입 날짜</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    
        <button class="basic" type="button" onclick="add_tr()" style="padding-left:21%; padding-right:21%;">+</button>

        <input type="hidden" name="max_idx">

        <br>
        <button class="basic" id="submit" style="margin-left:25%;">확인</button>
        <button class="basic" type="button"><a href="/add/selection">취소</a></button>
    </form>
</div>

<template>
    <tr id="tr">
        <td><input id="name" type="text" style="width:10vw"></td>
        <td><input id="count" type="count" min="1" value="1" style="width:3vw">개</td>
        <td><input id="datepicker" type="text" style="width:10vw"></td>
        <td><button class="basic" type="button" id="cancel">X</button></td>
    </tr>
</template>

<script>
    let idx = 0
    function add_tr() {
        const temp = $('template')[0]
        const clon = temp.content.cloneNode(true)

        clon.getElementById('tr').id = 'tr'+idx
        
        clon.getElementById('name').name = 'name'+idx
        clon.getElementById('count').name = 'count'+idx

        clon.getElementById('datepicker').name = 'bought_date'+idx
        clon.getElementById('datepicker').value = d3.timeFormat('%Y-%m-%d')(new Date)
        clon.getElementById('datepicker').id = 'datepicker'+idx

        const id = idx
        clon.getElementById('cancel').onclick = function() {
            $('#tr'+id).remove()
        }
        
        $('tbody').append(clon)

        $('#datepicker'+idx).datepicker({
            dateFormat: "yy-mm-dd"
        })

        idx++
    }
    add_tr()

    $('#submit').click(() => {
        let name, count
        let isEmpty = true
        for (let i = 0; i < idx; i++) {
            name = $(`input[name=name${i}]`).val()
            if (name === undefined)
                continue
            name = name ? name.length : false
            count = $(`input[name=count${i}]`).val()
            count = count ? count.length : false

            if (!name || !count) {
                alert('식재료명과 개수를 모두 입력해주세요!')
                return false
            }

            isEmpty = false
        }

        if (isEmpty) {
            alert('식재료를 입력해주세요!')
            return false
        }

        $('input[name=max_idx]').val(idx)
    })
</script>

{% endblock %}