{% set title = "식재료 추가 방식 선택" %}
{% extends "layout/base.html" %}

{% block content %}

<div class="subwindow">
    <h1>식재료 입력 방식을 선택해주세요.</h1>
    <div class="rect" style="width:30%; height:30vw; float:left; margin-left:17.5%; margin-right:5%; text-align:center;">
        <h1 style="margin-top:45%"><a href="/add/by_image/upload">이미지</a></h1>
    </div>
    <div class="rect" style="width:30%; height:30vw; float:left; text-align:center; margin-right:17.5%;">
        <h1 style="margin-top:45%"><a href="/add/by_text">텍스트</a></h1>
    </div>
    <br>
    <button class="basic" style="float:right; margin-right:17.5%;"><a href="/">취소</a></button>
</div>

{% endblock %}